<div class="container__big-card">
  <h2 [style]="{'background-color': '#252836'}">Lendo Agora</h2>
  <div class="container__details">
  <div class="big-card__photo">
    <img
      src="{{ photoCover }}"
      alt=""
      height="200px"
      srcset=""
    >
  </div>

  <div class="divContainer" [style]="{'background-color': '#252836'}">
  <div class="big-card__title">
    <h1>Descrição</h1>
  </div>

  <div class="big-card__description">
    <p [style]="{'background-color': '#252836'}"

>
          {{ cardDescription }}
    </p>
  </div>
  </div>
</div>

</div>
