.container__small-card{
  width: 589px;
  height: 250px;
  display: flex;
  flex-direction: row;
  background-color: #252836;
  transition: 1s ease-in-out;
}

.container__details{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #252836;
}



.container__details > h3,p{
  background-color: #252836;
}

.container__details > p {
  color: grey;
  background-color: #252836;
  transition: 0.5s ease-in-out;
}


.container__details:hover p
{
  color: white;
  font-size: 16.1px;
}

.container__small-card:hover{
  height: 500px
}
