

.container__menu-bar > ul{
  display: flex;
  flex-direction: row;
}

.container__menu-bar > ul > li{
  margin-right: 20px;
  list-style: none;
  font-size: 20px;
}

a{
  color:#ffffffb1;
  transition: color 0.3s ease-in-out;
  position: relative;
  font-weight: 900;
}

a:hover{
  color: #ffff;
}

a::after{
  position: absolute;
  content: '  ';
  width: 0;
  border: 0px solid white;
  transform: translate(-50px, 23px);
  transition: 0.3s ease-in-out;
}

a:hover::after{
  border: 1px solid white;
  width: 40px;
}

